// BASE //
// reset de la pag, para que se vea igual en todas las partes // 


/* ----------------- ESTILOS GENERALES --------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   /* - Para que no me sume los extras que le voy a dar - */
}

body{
    background-size: cover;
    font-size: 2rem;
    line-height: 1em;
    margin: 0;
    
}
