// HEADER // 

/* ------------------------- header INDEX ----------------------------- */
/* ------------------------- header INDEX ----------------------------- */

.header_index{
    background-color: transparent;
    width: 100%;
    right: 0;
    margin: auto;

    /* position: fixed; */
    left: 0; 
    top: 0; 

    /* Flex */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; /* -- Logo y navegacion en cada punta -- */
    align-items: center; /* -- Alinear -- */
}

.header_index img{
    background-color: transparent;
    line-height: 150px;
    margin: auto;
}

/* ------------------------- header PERFIL ----------------------------- */
/* ------------------------- header PERFIL ----------------------------- */

.header_perfil{
    background-color: transparent;
    width: 100%;
    right: 0;
    margin: auto;

    /* position: fixed; */
    left: 0; 
    top: 0; 

    /* Flex */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; /* -- Logo y navegacion en cada punta -- */
    align-items: center; /* -- Alinear -- */
}

.header_perfil img{
    background-color: transparent;
    line-height: 150px;
    margin: auto;
}

/* ------------------------- header SERVICIO ----------------------------- */
/* ------------------------- header SERVICIO ----------------------------- */

.header_servicio{
    background-color: transparent;
    width: 100%;
    right: 0;
    margin: auto;

    /* position: fixed; */
    left: 0; 
    top: 0; 

    /* Flex */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; /* -- Logo y navegacion en cada punta -- */
    align-items: center; /* -- Alinear -- */
}

.header_servicio img{
    background-color: transparent;
    line-height: 150px;
    margin: auto;
}

/* ------------------------- header PRODUCTOS ----------------------------- */
/* ------------------------- header PRODUCTOS ----------------------------- */

.header_productos{
    background-color: transparent;
    width: 100%;
    right: 0;
    margin: auto;

    /* position: fixed; */
    left: 0; 
    top: 0; 

    /* Flex */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; /* -- Logo y navegacion en cada punta -- */
    align-items: center; /* -- Alinear -- */
}

.header_productos img{
    background-color: transparent;
    line-height: 150px;
    margin: auto;
}

/* ------------------------- header GALERIA ----------------------------- */
/* ------------------------- header GALERIA ----------------------------- */

.header_galeria{
    background-color: transparent;
    width: 100%;
    right: 0;
    margin: auto;

    /* position: fixed; */
    left: 0; 
    top: 0; 

    /* Flex */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; /* -- Logo y navegacion en cada punta -- */
    align-items: center; /* -- Alinear -- */
}

.header_galeria img{
    background-color: transparent;
    line-height: 150px;
    margin: auto;
}

/* ------------------------- header CONTACTO ----------------------------- */
/* ------------------------- header CONTACTO ----------------------------- */

.header_contacto{
    background-color: transparent;
    width: 100%;
    right: 0;
    margin: auto;

    /* position: fixed; */
    left: 0; 
    top: 0; 

    /* Flex */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; /* -- Logo y navegacion en cada punta -- */
    align-items: center; /* -- Alinear -- */
}

.header_contacto img{
    background-color: transparent;
    line-height: 150px;
    margin: auto;
}

/* ------------------------- header ERROR ----------------------------- */
/* ------------------------- header ERROR ----------------------------- */

.header_error{
    background-color: transparent;
    width: 100%;
    right: 0;
    margin: auto;

    /* position: fixed; */
    left: 0; 
    top: 0; 

    /* Flex */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; /* -- Logo y navegacion en cada punta -- */
    align-items: center; /* -- Alinear -- */
}

.header_error img{
    background-color: transparent;
    line-height: 150px;
    margin: auto;
}

